    <%- include('./partials/nav') %>

    <h1>creat a new fruit</h1>

    <form action="/fruits" method="POST" class="new">
        <div>
            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </div>
        <br>
        
        <div class="checkbox-div">
            <label for="isReadyToEat">Is Ready To Eat?</label>
            <input type="checkbox" id="isReadyToEat" name="isReadyToEat">
        </div>
<br>
        <button type="submit">Add Fruit</button>

    </form>
</body>
</html>